$Orange: hsl(25, 97%, 53%);

$White: hsl(0, 0%, 100%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);
$Dark_Blue: hsl(213, 19%, 18%);
$Very_Dark_Blue: hsl(216, 12%, 8%);
$rating_form_bg: radial-gradient(
  circle at 50% 0,
  hsl(213, 19%, 18%),
  hsl(216, 12%, 8%) 150%
);

$fw_1: 400;
$fw_2: 700;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ol{
    list-style-type: none;
}

input,
button {
  font: inherit;
}

body{
    min-height: 100vh;
    font-size: .9375rem;
    background-color: $Very_Dark_Blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ratingForm{
  background-image: $rating_form_bg;
  font-family: 'Overpass', sans-serif;
  max-width: 22rem;
  border-radius: 1rem;
}
fieldset{
  border: none;
  padding: 1.2rem;
}
input[type="radio"] {
  display: none;
}
.rating-bubble{
  background-color: $Dark_Blue;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: $Light_Grey;
  text-align: center;
  line-height: 3rem;
  margin-top:1rem;
  cursor: pointer;
}
.rating-card-star {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color:  hsla(217, 12%, 63%,0.13);
  }
.rating-card-header{
    color: $White;
    margin: 1rem 0 ;
}
.rating-card-ctn{
    color: $Light_Grey;
    font-size: 15px;
    word-wrap: break-word;
}
/* Apply styles to the rating buttons */

.rating-bubble:hover,
.rating-bubble:active,
.rating-bubble:focus {
  background-color: $Light_Grey;
  color: white;
  font-weight: $fw_2;
}

/* Optional: Add a class to persist the active state using JavaScript */
.rating-bubble.active {
  background-color: $Orange;
  color: white;
  font-weight: $fw_2;
}
.rating_list {
  list-style: none; 
  display: flex; 
  justify-content: space-between; 
}

/* Optional: Style the "Submit" button */
.review-card-btn button {
  background-color: $Orange; 
  border: none;
  border-radius: 2rem;
  color: $White; 
  padding: 0.85rem;
  cursor: pointer;
  border: none; 
  width: 100%;
  margin-top: 1rem;
  text-transform: uppercase;
}

.thank-you-card{
  color: $White;
  background-image: $rating_form_bg;
  font-family: 'Overpass', sans-serif;
  max-width: 22rem;
  border-radius: 1rem;
  display: none;
  padding: 1.2rem;
}
.selected-rating{
  color: $Orange;
  border-radius: 2rem;
  border: 1px $Medium_Grey;
  margin: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #262e38;
  width: fit-content;
}
.card__heading{
  margin: auto;
  width: fit-content;
  margin-bottom: 0.75rem;
}
.thank-you__desc{
  color: $Light_Grey;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}
.thank-you__img{
  margin: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    margin-top:1rem
  }
  .attribution a {
    color: $Orange;
  }